body {
  margin: 0;
  font-family: initial;
  background-color: #FFF;
}

a {
  color: green;
  text-decoration: none;
}

/* Contact Header infos*/

.contactheader {
  height: 45px;
  background: #171515;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
}

.infoContact {
  display: flex;
  padding: 7px 20px;
  align-items: center;
}

.social .infoContact {
  display: flex;
  display: flex;
  padding: 7px 15px;
}

.infoContact span {
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}

.infoContact img {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 4px;
}

.adress, .social {
  display: flex;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  margin-top: 45px;
}

.link_head {
  color: #fffff2;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  float: left;
  font-size: 1em;
  padding: 5px 20px;
  text-decoration: none;
  display: flex;
  color: #014f00;
  align-items: center;
}

.logotext {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
}

/* menu */

.sub-menu ul {
  display: none;
}

.sub-menu:hover>ul {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu h2 {
  margin: 0;
  FONT-SIZE: 16px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 360px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 1200px) {
  .sub-menu .test {
    width: 100%;
    background: #e4dada;
  }
}

@media (min-width: 1200px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    text-decoration: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.home {
  width: 100%;
  height: 87vh;
  padding-top: 105px;
  /* position: absolute; */
}

/* Carousel css */

.cover {
  background: linear-gradient(45deg, #544e4e 0%, #000000 100%);
  width: 100%;
  height: 100%;
  height: 87vh;
  text-align: center;
  position: absolute;
  top: 0%;
  opacity: 0.2;
}

.mySlides {
  display: flex;
}

.slideshow-container img {
  vertical-align: middle;
  height: 87vh;
}

.dotslide {
  text-align: center;
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 1;
}

.rendv {
  text-align: center;
  position: absolute;
  top: 35%;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  /* left: 50%; */
  width: 100%;
  z-index: 1;
  height: 40%;
}

.rendv a {
  background: none;
  border: 3px solid #fb0304;
  padding: 2px 35px;
  border-radius: 100px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.titleslide {
  text-align: center;
  position: absolute;
  top: 60%;
  font-size: 40px;
  font-weight: 700;
  color: #f4f4f4;
  /* left: 50%; */
  width: 100%;
  z-index: 10;
}

.titleslide0 {
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 40px;
  font-weight: 700;
  color: #f4f4f4;
  /* left: 50%; */
  width: 100%;
  z-index: 10;
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #948e8e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active {
  background-color: red;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Section service */

.services {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.card {
  background: #fff;
  height: 300px;
  width: 30%;
  border: 1px solid #544e4e;
  padding: 5px;
  border-radius: 5px;
}

.card-img {
  width: 100%;
  height: 70%;
}

.card-img img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-img h3 {
  position: absolute;
  margin: auto;
  background: #024a00;
  color: #fff;
  padding: 10px 20px;
  opacity: 0.9;
  border-top-left-radius: 5px;
  text-transform: uppercase;
}

.card .text {
  padding: 10px 2px;
  color: #333;
}

.divbtn {
  padding: 0 2px;
}

.card a {
  padding: 4px 10px;
  background: transparent;
  border: 2px solid #054a09;
  border-radius: 5px;
  text-transform: uppercase;
  color: #094a07;
  font-weight: 700;
  text-decoration: none;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.titlesection {
  display: flex;
  justify-content: center;
  font-weight: 100;
  padding: 0;
  line-height: 0;
}

.line {
  height: 2px;
  background: #d9e6d9;
}

.cardsection {
  display: flex;
  justify-content: space-between;
}

/* Section automates et recrutements  */

.auto_recru {
  display: flex;
  width: 80%;
  left: 10%;
  justify-content: space-between;
  position: relative;
  margin: 80px 0;
}

.icon_auto {
  background: #fff;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: relative;
  top: -35px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto_recru .card_auto_recru {
  background: #00927b;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.auto_recru .title_auto_recru {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0 0 0;
}

.auto_recru .text_auto_recru {
  color: #fff;
  font-size: 18px;
  margin: 50px 0 0 0;
  margin-top: 15px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 50px;
}

.auto_recru button {
  position: relative;
  top: 13px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background: #0a4c1c;
  border: none;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.btn_red:hover {
  background: #ca1000;
}

.btn_gray:hover {
  background: #544e4e;
}

.btn_green:hover {
  background: #00927b;
}

/* Qui sommes nous */

.about {
  display: flex;
  justify-content: space-between;
  /* background: #948e8e; */
  background-color: #20801f21;
  padding: 20px 20px;
  /* background-color: rgba(239, 239, 239, 0.5); */
  flex-direction: column;
}

.about h1 {
  font-size: 39px;
  color: #0a4c09;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.about a {
  width: fit-content;
  padding: 10px;
  background: #ca1000;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
}

.parag_1 {
  font-size: 18px;
  margin-top: 0;
}

.parag_2 {
  font-size: 18px;
}

/* Footer Styling */

/* footer {
  width: 100%;
  background: #171515;
}

.part_1 {
  width: 100%;
  height: 75%;
  background: #232020;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.section_social {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.part_1_title {
  display: flex;
  align-items: center;
}

.part_1_title span img {
  width: 50px;
  border-radius: 10px;
  height: 50px;
  margin-right: 10px;
}

.part_1_title h5 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.container_f {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.part_1_text {
  color: #fff;
}

.part_1_social {
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 20px 0;
  color: #948e8e;
}

.part_2 {
  width: 100%;
  height: 25%;
  background: #171515;
}

.contact_title h5 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.contact_container {
  display: flex;
  flex-direction: column;
}

.contact_container span {
  color: #fff;
} */

/* Media query */

@media (max-width: 1360px) {
  .card {
    height: 350px;
  }
}

@media (max-width: 950px) {
  .card-img {
    height: 60%;
  }
}

@media (max-width: 820px) {
  .auto_recru {
    width: 96%;
    left: 2%;
  }
  .auto_recru .card_auto_recru {
    width: 28%;
  }
  .auto_recru button {
    padding: 5px 20px;
    top: 92%;
  }
  .auto_recru .title_auto_recru {
    font-size: 13px;
  }
  .auto_recru .text_auto_recru {
    font-size: 12px;
    padding-bottom: 25px;
  }
}

@media (max-width: 650px) {
  .infoContact span {
    display: none;
  }
  .slideshow-container img {
    height: 260px;
  }
  .dotslide {
    text-align: center;
    position: absolute;
    top: 80%;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
  .titleslide {
    font-size: 15px;
    top: 82%;
  }
  .titleslide0 {
    font-size: 15px;
    top: 58%;
    position: absolute;
    width: 100%;
  }
  .cover {
    height: 260px;
  }
  .rendv {
    top: 25%;
  }
  .rendv a {
    background: none;
    border: 2px solid #960404;
    padding: 2px 15px;
    border-radius: 100px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
  }
  .home {
    width: 100%;
    height: 260px;
    padding-top: 105px;
  }
  .card-img {
    height: 55%;
  }
  .card-img h3 {
    padding: 5px 10px;
  }
}

@media (max-width: 500px) {
  .about h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .parag_1, .parag_2 {
    font-size: 15px;
  }
  .about button {
    width: 200px;
    font-size: 16px;
    padding: 8px;
  }
  .services {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
  }
  .card-img {
    height: 65%;
  }
  .card .text {
    font-size: 13px;
  }
  .auto_recru {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .auto_recru .card_auto_recru {
    width: 94%;
    margin-bottom: 50px;
  }
  .auto_recru .title_auto_recru {
    margin-top: -10px;
  }
  .auto_recru .text_auto_recru {
    padding-bottom: 0px;
  }
  .auto_recru button {
    background: #0a4c1c;
    position: relative;
    padding: 5px 20px;
    top: 13px;
  }
}

@media (max-width: 411px) {
  .card {
    width: 100%;
    height: 255px;
    margin-bottom: 10px;
  }
  .card a {
    padding: 2px 5px;
  }
}

@media (max-width: 378px) {
  .card {
    height: 230px;
  }
  .card .text {
    padding: 3px 2px;
  }
}

@media (max-width: 375px) {
  .divbtn {
    padding: 0 2px;
    margin-top: 5px;
  }
}

.pg-footer {
  /*   font-family: "Khand", sans-serif; */
  font-family: 'Oswald', sans-serif;
}

.footer {
  background-color: #171515;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #014f00;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #fb0502;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #004f00;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #004f00;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #004f00;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */

@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  .footer-wave-svg {
    height: 50px;
  }
  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}